@import "tailwindcss";

/* Default (light mode) theme */
:root {
  --font-poppins: Poppins, sans-serif;
  --color-background: #f9fafb; /* light gray */
  --color-text: #111827; /* almost black */
}

/* Dark mode overrides */
.dark {
  --color-background: oklch(87.9% 0.169 91.605);
  --color-text: rgb(220, 220, 220); /* better contrast than dark blue */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
